body {
  background-color: #efefef;
}
.page-content-wrapper {
  margin-top: 28px;
}

#sidebar-wrapper {
  margin-top: -16px;
  .sidebar-nav {
    margin-top: 3px;
  }
}

.card {
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #d1d4d7;
  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fa;
    border-bottom: 1px solid #d1d4d7;
    font-weight: bold;
  }
  .card-block {
    flex: 1 1 auto;
    padding: 1.25rem;
    padding-top: 15px;
  }
}

.post-item {
  .post-item__imgwrap {
    border: 1px solid #b5b5b5;
    height: 200px;
    width: 200px;
    float: left;
    img {
      width: 198px;
      height:198px;
    }
  }
  .post-item__info {
    float: left;
    margin-left: 10px;
    width: 72%
  }
  .post-item__date {
    float: right;
  }
}

.post-item__content {
  overflow: hidden;
  height: 154px;
  width: 98%;
  line-height: 25px;
}

.post-item__content:before {
  content: "";
  float: left;
  width: 5px;
  height: 154px;
}

.post-item__content > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
}

.post-item__content:after {
  content: "\02026";
  box-sizing: content-box;
  float: right;
  position: relative;
  top: -25px;
  left: 100%;
  width: 3em;
  margin-left: -3em;
  padding-right: 5px;
  text-align: right;
  background-size: 100% 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
.dron-inf {
  height: 352px;
  .dron-inf__imgwrap {
    border: 1px solid #ccc;
    width: 352px;
    float: left;
    margin-right: 15px;
  }
}

/* line 4, ../sass/custom.scss */
.header {
  height: 68px;
  right: 0;
  left: 0;
  position: fixed;
  background: #364f69;
  z-index: 1001;
  /*box-shadow: $menu-shadow;*/
}

/* line 14, ../sass/custom.scss */
.header__container_left {
  width: 400px;
  height: 100%;
  text-align: center;
  float: left;
  color: white;
  padding-top: 5px;
  padding-left: 7px;
  div {
    font-size: 21px;
    padding-top: 13px;
  }
  img {
    float: left;
  }
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

/* line 20, ../sass/custom.scss */
.header__container_left a {
  color: #efefef;
}

/* line 24, ../sass/custom.scss */
.header__container_right {
  width: 20%;
  height: 100%;
  text-align: right;
  padding-right: 19px;
  color: #efefef;
  float: right;
}

/* line 32, ../sass/custom.scss */
.header__user-info_name {
  font-weight: bold;
  font-size: 14px;
  padding-top: 21px;
  a {
    color: white;
  }
}

/* line 37, ../sass/custom.scss */
.main-menu {
  background: #2A3F54 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* line 48, ../sass/custom.scss */
.calls {
  /*border: 2px solid #ccc;*/
}
/* line 50, ../sass/custom.scss */
.calls .row {
  margin: 0px;
  border-bottom: 1px solid #ccc;
}

/* line 56, ../sass/custom.scss */
.calls__item {
  border-left: 1px solid #cccccc;
  height: 40px;
}

/* line 62, ../sass/custom.scss */
.calls__header {
  background: #efefef;
  font-weight: bold;
  color: #545454;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}

/* line 88, ../sass/custom.scss */
.callslist__item, .callslist-header__item {
  border-left: 1px solid #cccccc;
}

/* line 96, ../sass/custom.scss */
.callslist-header__item {
  padding: 7px;
}

/*bootstrap styles*/
/* line 106, ../sass/custom.scss */
#wrapper {
  padding-top: 55px;
}

/*CONNECTOR*/
.abonent-wrapper {
  border: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 270px;
  padding:50px;
  background: #efefef;
  height: 318px;

}

.abonent-text {
  height: 110px !important;
}

.connect-block {
  border:0px solid black;
  height: 100px;
  margin-top: -52px;
  background: #efefef;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background: #efefef;
  padding-top: 31px;
}

.code-block {
  background: #efefef;
  border: 1px solid #ccc;
  padding: 20px
}
.connector-wrap {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.modal-callback {
  //background-color: #fff;
  background: linear-gradient(#c6d7dc, #9898b3);
  width: 400px;
  height: 200px;
  //border: 1px solid black;
  border-radius: 7px;
  padding: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1003;
  position: fixed; top: 60%; left: 53%; margin: -250px 0 0 -250px;

  .modal-callback__text {
    text-align: center;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .modal-callback__input {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    input {
      text-align: center;
    }
  }
  .modal-callback__head {
    text-align: right;
    font-size: 22px;
    padding-right: 10px;
    &:hover {
      color: #00b3ee;
      cursor: pointer;
    }
  }
}
.callimg {
  position: fixed;
  bottom: 40px;
  right: 50px;
}

.black-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0f0f11;
  opacity: 0.8;
  z-index: 1002;
}

.hide {
  display: none;
}