/* line 1, ../sass/custom.scss */
body {
  background-color: #efefef;
}

/* line 4, ../sass/custom.scss */
.page-content-wrapper {
  margin-top: 28px;
}

/* line 8, ../sass/custom.scss */
#sidebar-wrapper {
  margin-top: -16px;
}
/* line 10, ../sass/custom.scss */
#sidebar-wrapper .sidebar-nav {
  margin-top: 3px;
}

/* line 15, ../sass/custom.scss */
.card {
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #d1d4d7;
}
/* line 22, ../sass/custom.scss */
.card .card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fa;
  border-bottom: 1px solid #d1d4d7;
  font-weight: bold;
}
/* line 29, ../sass/custom.scss */
.card .card-block {
  flex: 1 1 auto;
  padding: 1.25rem;
  padding-top: 15px;
}

/* line 37, ../sass/custom.scss */
.post-item .post-item__imgwrap {
  border: 1px solid #b5b5b5;
  height: 200px;
  width: 200px;
  float: left;
}
/* line 42, ../sass/custom.scss */
.post-item .post-item__imgwrap img {
  width: 198px;
  height: 198px;
}
/* line 47, ../sass/custom.scss */
.post-item .post-item__info {
  float: left;
  margin-left: 10px;
  width: 72%;
}
/* line 52, ../sass/custom.scss */
.post-item .post-item__date {
  float: right;
}

/* line 57, ../sass/custom.scss */
.post-item__content {
  overflow: hidden;
  height: 154px;
  width: 98%;
  line-height: 25px;
}

/* line 64, ../sass/custom.scss */
.post-item__content:before {
  content: "";
  float: left;
  width: 5px;
  height: 154px;
}

/* line 71, ../sass/custom.scss */
.post-item__content > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
}

/* line 77, ../sass/custom.scss */
.post-item__content:after {
  content: "\02026";
  box-sizing: content-box;
  float: right;
  position: relative;
  top: -25px;
  left: 100%;
  width: 3em;
  margin-left: -3em;
  padding-right: 5px;
  text-align: right;
  background-size: 100% 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}

/* line 91, ../sass/custom.scss */
.dron-inf {
  height: 352px;
}
/* line 93, ../sass/custom.scss */
.dron-inf .dron-inf__imgwrap {
  border: 1px solid #ccc;
  width: 352px;
  float: left;
  margin-right: 15px;
}

/* line 4, ../sass/custom.scss */
/* line 102, ../sass/custom.scss */
.header {
  height: 68px;
  right: 0;
  left: 0;
  position: fixed;
  background: #364f69;
  z-index: 1001;
  /*box-shadow: $menu-shadow;*/
}

/* line 14, ../sass/custom.scss */
/* line 113, ../sass/custom.scss */
.header__container_left {
  width: 400px;
  height: 100%;
  text-align: center;
  float: left;
  color: white;
  padding-top: 5px;
  padding-left: 7px;
}
/* line 121, ../sass/custom.scss */
.header__container_left div {
  font-size: 21px;
  padding-top: 13px;
}
/* line 125, ../sass/custom.scss */
.header__container_left img {
  float: left;
}

/* line 130, ../sass/custom.scss */
.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

/* line 20, ../sass/custom.scss */
/* line 136, ../sass/custom.scss */
.header__container_left a {
  color: #efefef;
}

/* line 24, ../sass/custom.scss */
/* line 141, ../sass/custom.scss */
.header__container_right {
  width: 20%;
  height: 100%;
  text-align: right;
  padding-right: 19px;
  color: #efefef;
  float: right;
}

/* line 32, ../sass/custom.scss */
/* line 151, ../sass/custom.scss */
.header__user-info_name {
  font-weight: bold;
  font-size: 14px;
  padding-top: 21px;
}
/* line 155, ../sass/custom.scss */
.header__user-info_name a {
  color: white;
}

/* line 37, ../sass/custom.scss */
/* line 161, ../sass/custom.scss */
.main-menu {
  background: #2A3F54 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* line 48, ../sass/custom.scss */
/* line 167, ../sass/custom.scss */
.calls {
  /*border: 2px solid #ccc;*/
}

/* line 50, ../sass/custom.scss */
/* line 171, ../sass/custom.scss */
.calls .row {
  margin: 0px;
  border-bottom: 1px solid #ccc;
}

/* line 56, ../sass/custom.scss */
/* line 177, ../sass/custom.scss */
.calls__item {
  border-left: 1px solid #cccccc;
  height: 40px;
}

/* line 62, ../sass/custom.scss */
/* line 183, ../sass/custom.scss */
.calls__header {
  background: #efefef;
  font-weight: bold;
  color: #545454;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}

/* line 88, ../sass/custom.scss */
/* line 192, ../sass/custom.scss */
.callslist__item, .callslist-header__item {
  border-left: 1px solid #cccccc;
}

/* line 96, ../sass/custom.scss */
/* line 197, ../sass/custom.scss */
.callslist-header__item {
  padding: 7px;
}

/*bootstrap styles*/
/* line 106, ../sass/custom.scss */
/* line 203, ../sass/custom.scss */
#wrapper {
  padding-top: 55px;
}

/*CONNECTOR*/
/* line 208, ../sass/custom.scss */
.abonent-wrapper {
  border: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 270px;
  padding: 50px;
  background: #efefef;
  height: 318px;
}

/* line 218, ../sass/custom.scss */
.abonent-text {
  height: 110px !important;
}

/* line 222, ../sass/custom.scss */
.connect-block {
  border: 0px solid black;
  height: 100px;
  margin-top: -52px;
  background: #efefef;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #efefef;
  padding-top: 31px;
}

/* line 233, ../sass/custom.scss */
.code-block {
  background: #efefef;
  border: 1px solid #ccc;
  padding: 20px;
}

/* line 238, ../sass/custom.scss */
.connector-wrap {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

/* line 242, ../sass/custom.scss */
.modal-callback {
  background: linear-gradient(#c6d7dc, #9898b3);
  width: 400px;
  height: 200px;
  border-radius: 7px;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1003;
  position: fixed;
  top: 60%;
  left: 53%;
  margin: -250px 0 0 -250px;
}
/* line 254, ../sass/custom.scss */
.modal-callback .modal-callback__text {
  text-align: center;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 260, ../sass/custom.scss */
.modal-callback .modal-callback__input {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 265, ../sass/custom.scss */
.modal-callback .modal-callback__input input {
  text-align: center;
}
/* line 269, ../sass/custom.scss */
.modal-callback .modal-callback__head {
  text-align: right;
  font-size: 22px;
  padding-right: 10px;
}
/* line 273, ../sass/custom.scss */
.modal-callback .modal-callback__head:hover {
  color: #00b3ee;
  cursor: pointer;
}

/* line 279, ../sass/custom.scss */
.callimg {
  position: fixed;
  bottom: 40px;
  right: 50px;
}

/* line 285, ../sass/custom.scss */
.black-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0f0f11;
  opacity: 0.8;
  z-index: 1002;
}

/* line 296, ../sass/custom.scss */
.hide {
  display: none;
}
