body {
  font-family: sans-serif;
  background: #efefef;
}

.app {
    width: 62%;
    margin: 0px auto;
    border: 1px solid #c3c3c3;
    background: #fff;
}

.header {
    background: #fffef1;
    border-bottom: 1px solid #dcdcdc;
    padding: 20px 15px 15px;
}
.toolbar {
	width: 100%;
	height: 47px;
}
.toolbar__range {
	float: left;
}
.toolbar__range > div > label {
	font-size: 13px
}
.cs-select {
	width: 380px;
	float: left;
	padding-top: 6px;
}
.cs-select__input{
	width: 300px;
	color: #545454;
	font-size: 0.875rem;
	padding: 6px;
	font-size: 0.875rem;
	line-height: 1.25;
	color: #9fa1a3;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid #d1d4d7;
	border-radius: 0;
}
.cs-select__button {
	display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 3px 11px;
    font-size: 20px;
    background: #4dbd74;
   	color: white;
   	font-weight: bold;
    margin-left: 5px;
}

.hide {
	display: none;
}

.variants {
	background: #fff;
	border: 1px solid #ccc;
	width: 78%;
    position: absolute;
    width: 312px;
    top: 66px;
}
.variants__item {
    padding: 6px;
    border-bottom: 1px solid #efefef;
}
.cards{
    width: 100%;
    height: 350px;
    overflow-x: auto;
    padding-left: 5px;
    padding-top: 6px;
}
.card {
	padding:10px;
	background-color: #20a8d8;
	background: linear-gradient(to top, #8bd4e9, #20a8d8);
    width: 214px;
    height: 120px;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
    float: left;
    margin: 10px;
    border: 2px solid white;
}
.card__name {
	font-weight: bold;
	font-size:19px;
}
.card__inf {
	margin-top: 6px;
}
.card__temp-lg{
	font-weight: bold;
	font-size:28px;
	text-align: right;
	margin-top: 8px;
}
.card__close {
	float: right;
	cursor: pointer;
}
.card__img {
	float:left;
    margin-top: 10px;
    width: 78px;
}

.range-input {
	width: 210px;
}